/*
    //background image ready to be used
body{
    background-image: url(../img/night-sky.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
*/
